<ion-view view-title="First Register" hide-back_button="true">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <style>
        .list{
            padding: 5px;
            border: 0px;
            border-bottom: 0px;
            border-style: groove;
        }
    </style>
    <ion-content class="has-header" style="margin: 20px;">
        <ion-list>

            <label class="item item-input" style="border: 0px;margin-bottom: 5px;">
                <span class="input-label" style="">School</span>

            </label>
            <ion-select-autocomplete multiselect="false"
                                     output="viewModel.selschoollist"
                                     header="Choose School"
                                     label-key="name" value-key="key" ng-change="controller.changedDate(selschool)"
                                     options="viewModel.schoollist" ng-change="controller.clickedMethod(callback)" style="border-radius: 5px;border: 1px inset;padding-left: 10px;width: 100%;border-color: #e8e5e5;" placeholder="Please select school...">
            </ion-select-autocomplete>
            <!--<label class="item item-input">
                <span class="input-label">Choose School</span><br>
                <input ion-autocomplete type="text" class="ion-autocomplete" autocomplete="on" ng-model="model" template-data="viewModel.schoollist" item-view-value-key="name" item-value-key="key" max-selected-items="10" placeholder="Please type your school..."/>

            </label>-->


        </ion-list>
        <ion-list>


            <!--<label class="item item-input">-->
            <!--<span class="input-label">Choose Major</span>-->
            <!--<ion-select-autocomplete multiselect="true"-->
            <!--output="model"-->
            <!--header="Choose Major"-->
            <!--label-key="name" value-key="name"-->
            <!--options="viewModel.majorlist1">-->
            <!--</ion-select-autocomplete>-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">Choose Major</span><br>-->
                <!--<input ion-autocomplete type="text" class="ion-autocomplete" autocomplete="on" ng-model="model" items-method="viewModel.majorlist1" max-selected-items="10" placeholder="Please select majors..."/>-->

            <!--</label>-->

            <label class="item item-input" style="border: 0px;margin-bottom: 5px;">
                <span class="input-label">Major</span>
            </label>
            <ion-select-autocomplete multiselect="false"
                                     output="viewModel.selmajorlist"
                                     header="Choose School"
                                     label-key="name" value-key="key"
                                     options="viewModel.majorlist" ng-change="controller.clickedMethod(callback)" style="border-radius: 5px;border: 1px inset;padding-left: 10px;width: 100%;border-color: #e8e5e5;" placeholder="Please select major...">
            </ion-select-autocomplete>
            <!--<span class="input-label">Choose Major</span><br>-->
            <!--<input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="on"-->
            <!--ng-model="model"-->
            <!--item-value-key="name"-->
            <!--item-view-value-key="view"-->
            <!--items-method="viewModel.majorlist"-->
            <!--items-method-value-key="item"-->
            <!--placeholder="Enter major ..."-->
            <!--items-clicked-method="itemsClicked(callback)"-->
            <!--items-removed-method="itemsRemoved(callback)"-->
            <!--max-selected-items="3" style="    width: 95%;"/>-->
        </ion-list>
        <ion-list>
            <label class="item item-input" style="border: 0px;margin-bottom: 5px;">
                <span class="input-label">Graduated Date</span>
            </label>
                <div class="item" ion-datetime-picker ng-model="datetimeValue" ng-change="controller.changedDate(datetimeValue)" style="border-radius: 5px;border: 1px inset;padding-left: 10px;width: 100%;border-color: #e8e5e5;">
                    {{datetimeValue| date: "yyyy-MM-dd"}}
                </div>
        </ion-list>
        <ion-item class="item-icon-left item-icon-right" style="margin-top: 20px;text-align: center;border:0" >
            <span style="width:200px;padding: 5px 15px;background: #2d6999;border-radius: 5px;color:white" ng-click="controller.next()">
                Next
            </span>
        </ion-item>
    </ion-content>

</ion-view>
