<ion-view view-title="Second Register">

    <ion-nav-buttons side="left">

    </ion-nav-buttons>

    <ion-content class="has-header" style="margin-left: 20px;    margin-right: 20px;">
        <!---->
        <style>
            .list{
                padding: 5px;
                border: 0px;
                border-style: groove;
                margin-right: 10px;
            }
        </style>
        <ion-list>

            <label class="item item-input" style="border: 0px;margin-bottom: 5px;">
                <span class="input-label" style="">Course</span>

            </label>

            <!--<ion-select-autocomplete multiselect="false"
                                     output="model"
                                     label-key="name" value-key="key"
                                     header="Choose Course"
                                     options="viewModel.courselist" items="controller.autoItemClicked(callback)" style="border-radius: 5px;border: 1px inset;padding-left: 10px;width: 100%;border-color: #e8e5e5;" placeholder="Please select course...">
            </ion-select-autocomplete>-->

            <!--<ion-select-autocomplete multiselect="false"
                                     output="schoolmodel"
                                     header="Choose School"
                                     label-key="name" value-key="key"
                                     options="viewModel.courselist" items-clicked-method="autoItemClicked(callback)" style="border-radius: 5px;border: 1px inset;padding-left: 10px;width: 100%;border-color: #e8e5e5;" placeholder="Please select school...">
            </ion-select-autocomplete>-->
            <input ion-autocomplete type="text" class="ion-autocomplete" items-clicked-method="controller.autoItemClicked(callback)" autocomplete="on" ng-model="model" items-method="viewModel.courselist" max-selected-items="1" style="border-radius: 5px;border: 1px inset;padding-left: 10px;width: 100%;border-color: #e8e5e5;" placeholder="Please select course...">
            <!--<label class="item item-input">
                <span class="input-label">Choose School</span><br>
                <input ion-autocomplete type="text" class="ion-autocomplete" autocomplete="on" ng-model="model" template-data="viewModel.schoollist" item-view-value-key="name" item-value-key="key" max-selected-items="10" placeholder="Please type your school..."/>

            </label>-->


        </ion-list>
        <ion-list show-delete="true">
            <ion-item item="course" ng-repeat="courseitem in viewModel.selectedcourselist" style="border:0;border-top: 1px;border-bottom: 1px;border-style: inset;">
                {{courseitem}}
                <div class="item-delete enable-pointer-events visible active item-right-edit">
                    <button class="ion-minus-circled button icon button-icon" ng-click="controller.onItemDelete(course)">

                    </button>
                </div>
            </ion-item>
        </ion-list>
        <ion-item class="item-icon-left item-icon-right" style="margin-top: 20px;text-align: center;border:0" >
            <span style="width:200px;padding: 5px 15px;background: #2d6999;border-radius: 5px;color:white" ng-click="controller.next()">
                Next
            </span>
            <span style="margin-left:20px;width:200px;padding: 5px 15px;background: #2d6999;border-radius: 5px;color:white" ng-click="controller.skip()">
                Skip
            </span>
        </ion-item>
    </ion-content>

</ion-view>
