<ion-view view-title="Third Register">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-content class="has-header" style="margin-left: 20px;    margin-right: 20px;">
        <style>
            .list{
                padding: 5px;
                border: 0px;
                border-style: groove;
                margin-right: 10px;
            }
        </style>
        <ion-list>

            <label class="item item-input" style="padding: 16px 0 15px 16px;    border: 0;">
                <span class="input-label">Summary</span>
            </label>
            <ion-item style="border:0;padding: 0px;">
                <div>
                    <label class="item item-input" style="border: 0;border-top:1px;border-style: groove">
                        <span class="input-label">School</span>
                        <div>{{ viewModel.school }}</div>
                    </label>
                    <label class="item item-input" style="border: 0;border-top:1px;border-style: groove">
                        <span class="input-label">Major</span>
                        <div>{{ viewModel.major }}</div>
                    </label>
                    <label class="item item-input" style="border: 0;border-top:1px;border-style: groove">
                        <span class="input-label">Graduated Date</span>
                        <div>{{ viewModel.graduateddate }}</div>
                    </label>
                    <label class="item item-input" style="border: 0;border-bottom:1px;border-top:1px;border-style: groove">
                        <span class="input-label">Course</span>
                        <div>{{ viewModel.course }}</div>
                    </label>
                </div>
            </ion-item>
            <label class="item item-input" style="padding: 16px 0 5px 16px;    border: 0;">
                <span class="input-label">School Email</span>
            </label>
            <ion-item style="border:0">
                <div>
                    <input id="email" ng-model="viewModel.schoolmail" style="width: 100%;border: 1px;border-style: inset;border-color: #eeeeee;margin-top: 10px;height: 35px;border-radius: 5px;padding-left:10px;" placeholder="School email"/>
                </div>
            </ion-item>

        </ion-list>
        <ion-item class="item-icon-left item-icon-right" style="margin-top: 20px;text-align: center;border:0" >
            <span style="width:200px;padding: 5px 15px;background: #2d6999;border-radius: 5px;color:white" ng-click="controller.next()">
                Next
            </span>
        </ion-item>
    </ion-content>

</ion-view>
