<ion-view view-title="Third Register">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-content class="has-header" style="margin-left: 20px;    margin-right: 20px;">
        <style>
            .list{
                padding: 5px;
                border: 0px;
                border-style: groove;
                margin-right: 10px;
            }
        </style>
        <ion-list>

            <label class="item item-input" style="padding: 16px 0 15px 16px;border:0">
                <span class="input-label">Verify Code</span>
            </label>


            <ion-item style="border:0">
                <div>
                    <input id="code" ng-model="viewModel.verifycode" style="width: 100%;border: 1px;border-style: inset;border-color: #eeeeee;margin-top: 10px;height: 35px;border-radius: 5px;padding-left:10px;" placeholder="Please input verify code"/>
                </div>
            </ion-item>

        </ion-list>
        <ion-item class="item-icon-left item-icon-right" style="margin-top: 20px;text-align: center;border:0" >
            <span style="width:200px;padding: 5px 15px;background: #2d6999;border-radius: 5px;color:white" ng-click="controller.next()">
                Finish
            </span>
        </ion-item>
    </ion-content>

</ion-view>
