<ion-view view-title="Settings">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button icon ion-navicon phone-both-tablet-portrait"></button>
    </ion-nav-buttons>
    <style>
        .list{
            margin-right: 15px;
        }
    </style>
    <ion-content class="has-header" style="margin-left: 20px;">
        <ion-list>

            <ion-item class="item-icon-left item-icon-right" style="text-align: center;border-right: 0px;">
                <img src="{{ viewModel.userphoto }}" style="width:100px;height:100px;border-radius: 50%;">
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" style="border-right: 0px;padding-left: 20px;padding-right: 20px;">
                User Name: {{ viewModel.username }}
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" style="border-right: 0px;padding-left: 20px;padding-right: 20px;">
                Nick Name: {{ viewModel.nickname }}
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" style="border-right: 0px;padding-left: 20px;padding-right: 20px;">
                User Email: {{ viewModel.useremail }}
            </ion-item>

        </ion-list>
    </ion-content>

</ion-view>
