﻿<ion-view view-title="" hide-back_button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button icon ion-navicon phone-both-tablet-portrait"></button>
    </ion-nav-buttons>
    <style>
        .nav-back-button{
            display: none;
        }
    </style>
</ion-view>